<div class="container">
	<div class="row">
		<% @trips.each do |trip| %>
			<div class="col-sm-4">
				<div id="magic_card">
				
				<div class="imagen">
				<% trip.experiences.each do |experience| %>
					<%= image_tag experience.photos[0].image if experience.photos.length > 0 %>
				<% end %>
				</div>
					<h2><%= trip.name.truncate(30) %></h2>
					<hr>
					<h3>	
						<% trip.experiences.each do |experience| %>
								
								<%if experience == trip.experiences.first%>

								<%= experience.created_at.strftime(" %b %d") %> -

								<% elsif experience == trip.experiences.last%>

								<%= experience.created_at.strftime(" %b %d") %>

								<%end%>
								
								<% end %>
					</h3>
					<div class="row">
							<h4>	<%= trip.experiences.count %> experiences </h4>

							<h4><%= link_to "by: #{trip.nomad.name}", nomad_path(trip.nomad), class: "button" %></h4>
					</div>
				<%= link_to "Go to trip", trip, class: "button button_red2 button_block" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
