<div id="showing">
  <div class="container">

    <div class="imagen">
      <%= image_tag @nomad.avatar.url %>
    </div>
    <h4><%= @nomad.name %></h4>

    <div class="row">
      <div class="col-sm-3">
        <p><%= @nomad.description.truncate(400)%></p>

        <div id="icons">
          <div>
                    <span class="material-icons md-24">flag</span><h6> Country: <%= @nomad.pais %></h6>
                  </div>

                  <div>
                    <span class="material-icons md-24">location_city</span><h6> City: <%= @nomad.ciudad %></h6>
                  </div>
        </div>
      </div>

      <div class="col-sm-2">
      
<div id="icons">

                  <% if @nomad.facebook.present? %> 
                  <div>
                    <span class="fa fa-facebook"></span><h6><%= @nomad.facebook %></h6>
                  </div>
                  <% end %>

                  <% if @nomad.twitter.present? %> 
                  <div>
                    <span class="fa fa-twitter"></span><h6><%= @nomad.twitter %></h6>
                  </div>
                  <% end %>

                  <% if @nomad.instagram.present? %> 
                  <div>
                    <span class="fa fa-instagram"></span><h6><%= @nomad.instagram %></h6>
                  </div>
                  <% end %>

                  <div>
                    <span class="material-icons md-24">dvr</span><h6> Website: <br> <%= @nomad.website %></h6>
                  </div>



      </div>
    </div>
  </div>
</div>

<hr>
    <div id="titulos">
			<%= render 'trips/trips' %>
    </div>
