	<header class="cd-header">
		<nav class="cd-main-nav">
			<ul>
				<li class="mini"><a href="<%= root_path %>">Home</a></li>
				<% if nomad_signed_in? %>
				<!-- inser more links here -->
				<li class="mini <%= 'active' if current_page?(edit_nomad_registration_path) %>">
        <a href="<%= edit_nomad_registration_path(@nomad) %>">Edit Profile</a>
      </li>
      <li class="mini"><a href="<%= nomad_path(current_nomad) %>">My Trips</a></li>
      <li class="mini"><a href="<%= new_trip_path %>">New Trip</a></li>
      <li class="mini"> <a href="<%= destroy_nomad_session_path %>" data-method='delete'>
        Sign out
      </a></li>


				<% else %>

				<li class="mini"><a href="<%= trips_path %>"> Trips</a></li>
				<li class="mini"><a href="<%= experiences_map_path %>"> Experiences </a></li>
				<li class="mini"><a href="<%= new_invitation_path %>"> Join Nomad 5 </a></li>
				<li class="mini"><a href="<%= new_nomad_session_path %>"> Log in </a></li>
				<% end %>
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>



	<script>
	
	jQuery(document).ready(function($){
	//open-close submenu on mobile
	$('.cd-main-nav').on('click', function(event){
		if($(event.target).is('.cd-main-nav')) $(this).children('ul').toggleClass('is-visible');
	});
});
	

	</script>