<div id="titulos">
<%= image_tag src="logo.png" %> <br><br>
	<h2>Let your experiences tell your trips</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ab veritatis dolorum aut minus et id perspiciatis, dolores inventore, ea, cum cupiditate autem ullam commodi, ut eligendi in culpa repellendus.</p>

			<ul>
				<li>
					<%= link_to "Experience trip", experiences_map_path, class: "button button_red" %>
				</li>
				<li>
					<%= link_to "Join the Nomad Club", root_path, class: "button button_blue" %>
				</li>
			</ul>



<br><br>
<h4 class="center upper">Our favorites Trips</h4>
<hr>

<%= render 'trips/trips' %>

<%= link_to "Watch All Trips", trips_path, class:"button button_blue" %>



<br><br>
<h2>More than <%= @trips_count %> trips</h2>
<h4>And <%= @experiences_count %> world wide experiences</h4>

</div>

<div id="map2"></div>


<script>

function initMap() {

    // Creating a new map
    var map = new google.maps.Map(document.getElementById("map2"), {
          center: new google.maps.LatLng(19.9590566, -7.4226508),
          scrollwheel: false,
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });


    // Creating the JSON data
    var json = [
        
        <% @trips.each do |trip| %>
        <% trip.experiences.each do |experience| %>
        {
            "title": "<%= experience.title %>",
            "lat": <%= experience.latitude %>,
            "lng": <%= experience.longitude%>,
            "description": '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="firstHeading upper"><%=experience.title %></h3>'+
            '<div id="bodyContent">'+
            '<p><%=experience.ciudad %> - <%=experience.pais %> </p>'+
            '<p>by: - <%=experience.trip.nomad.name %> </p>'+
            '<%= link_to 'Ver más', trip_experience_path(trip, experience), class: "button button_blue" %> '+
            '</div>'+
            '</div>'
        },
        <% end %>
        <% end %>
        
    ]

    // Creating a global infoWindow object that will be reused by all markers
    var infoWindow = new google.maps.InfoWindow({
      maxWidth: 200
    });

    // Looping through the JSON data
    for (var i = 0, length = json.length; i < length; i++) {
      var data = json[i],
        latLng = new google.maps.LatLng(data.lat, data.lng);

      // Creating a marker and putting it on the map
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: data.title
      });

      // Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
      (function(marker, data) {

        // Attaching a click event to the current marker
        google.maps.event.addListener(marker, "click", function(e) {
          infoWindow.setContent(data.description);
          infoWindow.open(map, marker);
        });


      })(marker, data);

}



}
    
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap"
        async defer></script>