<%= form_for ([@trip, @experience]), :html => {:multipart => true} do |f| %>
<% unless @experience.errors.empty? %>
  <script type="text/javascript">
    <% @experience.errors.full_messages.each do |msg| %>
      toastr.error('<%= msg %>')
    <% end %>
  </script>
<% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :fecha, required: true %>
  </div>

<div class="row">

  <div class="col-sm-6">
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :pais, required: true %>
  </div>
  </div>

  <div class="col-sm-6">
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :ciudad, required: true %>
  </div>
  </div>

</div>
<hr>
<h4>Location</h4>
<p>1.- Click the button to get your current location</p> <br>
<p>2.- Drag the marker until the exact location</p> <br>
<p>* If Geolocation error, enable "share your location" on <strong>Settings</strong></p>

  <div class="field">
    <%= f.label :last_address %><br>
    <%= f.text_field :address, :readonly => true, id: "address", required: true %>
  </div>

<div id="panel">
  <input type="button" value="Change experience location" id="bucks" class="button button_red">
  </div>
  <div id="mapCanvas"></div>
  <div id="infoPanel">
    <b>Marker status:</b>
    <div id="markerStatus"><i>Click and drag the marker.</i></div>
  </div>

  <div class="field hidden">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, id: "info1" %>
  </div>
  <div class="field hidden">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, id: "info2" %>
  </div>

  <br><br>

<h4>Senses</h4>

<div class="row">

  <div class="col-sm-2 col-sm-offset-1">
  <div class="field">
    <%= f.label :Sight %><br>
    <%= f.check_box :vista %>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="field">
    <%= f.label :Smell %><br>
    <%= f.check_box :olfato %>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="field">
    <%= f.label :Taste %><br>
    <%= f.check_box :gusto %>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="field">
    <%= f.label :Hearing %><br>
    <%= f.check_box :oido %>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="field">
    <%= f.label :Touch %><br>
    <%= f.check_box :tacto %>
  </div>
  </div>

</div>

<hr>


  <div class="field">
    <%= f.label :Experience, 'How great was this experience? (1 - 10)' %><br>
    <%= f.range_field :expe, :min=>0, :max=>10, :class=>"slide", :id=>"slider1"%>
  </div>


  <div class="field">
    <%= f.label :Currency %><br>
    <%= f.text_field :currency, required: true %>
  </div>

  <div class="field">
    <%= f.label :How_much_money_I_need? %><br>
    <%= f.select :money, [["0 - 50 USD"], ["50 - 100 USD"], ["100 - 250 USD"], ["+ 250 USD"]], {:prompt => 'How much money?'}, {:required => true}%>
  </div>

  <div class="field">
    <%= f.label :Aprox_time %><br>
    <%= f.select :aprox_time, [["1 - 3 hours"], ["3 - 5 hours"], [" 5 - 12 hours"], ["+ 12 hours"]], {:prompt => 'How long the experience takes'}, {:required => true}%>
  </div>
  <div class="field">
    <%= f.label :People_warm, 'People Warm (1 - 10)' %><br>
    <%= f.range_field :gente, :min=>0, :max=>10, :class=>"slide", :id=>"slider1"%>
  </div>
  <div class="field">
    <%= f.label :Language %><br>
    <%= f.text_field :idioma, required: true %>
  </div>
  <div class="field">
    <%= f.label :is_the_experience_risky? %><br>
    <%= f.check_box :is_risky %>
  </div>
  <div class="field">
    <%= f.label :Does_it_have_internet_access? %><br>
    <%= f.check_box :is_internet %>
  </div>
  <div class="field">
    <%= f.label :Need_reservation? %><br>
    <%= f.check_box :is_reservation %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :advice %><br>
    <%= f.text_area :advice, required: true %>
  </div>


        <div class="row">
          <div class="col-md-4">
            <div class="form-group">              
              <span class="btn btn-default">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
                  <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>    
          </div>
        </div>

        <div id="photos"><%= render 'photos/list' %></div>



 


  <div class="actions">
    <%= f.submit class: "button button_red button_block" %>
  </div>
<% end %>

<br>

<script type="text/javascript"> 

var map, infoWindow;
var geocoder;
$("#bucks").click(function initMap() {
  geocoder = new google.maps.Geocoder();
  map = new google.maps.Map(document.getElementById('mapCanvas'), {
    center: {lat: 27.23712, lng: -34.3913985},
    zoom: 3
  });
  infoWindow = new google.maps.InfoWindow;
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };

        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            draggable: true,
            title: 'Your position'
        });
        /*infoWindow.setPosition(pos);
        infoWindow.setContent('Your position');
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
        infoWindow.open(map, marker);*/
        map.setCenter(pos);
        
        
      updateMarkerPosition(marker.getPosition());
      updateMarkerPosition2(marker.getPosition());
      geocodePosition(pos);

      // Add dragging event listeners.
      google.maps.event.addListener(marker, 'dragstart', function() {
        updateMarkerAddress('Dragging...');
      });

      google.maps.event.addListener(marker, 'drag', function() {
        updateMarkerStatus('Dragging...');
        updateMarkerPosition(marker.getPosition());
        updateMarkerPosition2(marker.getPosition());
      });

      google.maps.event.addListener(marker, 'dragend', function() {
        updateMarkerStatus('Drag ended');
        geocodePosition(marker.getPosition());
        map.panTo(marker.getPosition());
      });

      google.maps.event.addListener(map, 'click', function(e) {
        updateMarkerPosition(e.latLng);
        updateMarkerPosition2(e.latLng);
        geocodePosition(marker.getPosition());
        marker.setPosition(e.latLng);
        map.panTo(marker.getPosition());
      });
        
    }, function() {
       handleLocationError(true, infoWindow, map.getCenter());
    });
} else {
  // Browser doesn't support Geolocation
  handleLocationError(false, infoWindow, map.getCenter());
}

})


function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      updateMarkerAddress(responses[0].formatted_address);
    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerStatus(str) {
  document.getElementById('markerStatus').innerHTML = str;
}

function updateMarkerPosition(latLng) {
  document.getElementById('info1').value = [
    latLng.lat()
  ];
}

function updateMarkerPosition2(latLng) {
  document.getElementById('info2').value = [
    latLng.lng()
  ];
}

function updateMarkerAddress(str) {
  document.getElementById('address').value = str;
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}

</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA70HYo_A20eeT6Ye7-b0XL-chKMuwJHyc&callback=initMap"
        async defer></script>

<script>
$("#ex8").slider({
    tooltip: 'always'
});
</script>
