<%= form_for @experience, :html => { multipart: true } do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, id: "address" %>
  </div>

  <div class="field">
    <%= f.label :vista %><br>
    <%= f.text_field :vista %>
  </div>
  <div class="field">
    <%= f.label :olfato %><br>
    <%= f.text_field :olfato %>
  </div>
  <div class="field">
    <%= f.label :gusto %><br>
    <%= f.text_field :gusto %>
  </div>
  <div class="field">
    <%= f.label :oido %><br>
    <%= f.text_field :oido %>
  </div>
  <div class="field">
    <%= f.label :gusto %><br>
    <%= f.text_field :gusto %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, id: "info1" %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, id: "info2" %>
  </div>

  <div class="field">
    <%= f.label :expe %><br>
    <%= f.text_field :expe %>
  </div>
  <div class="field">
    <%= f.label :money %><br>
    <%= f.number_field :money %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :aprox_time %><br>
    <%= f.text_field :aprox_time %>
  </div>
  <div class="field">
    <%= f.label :gente %><br>
    <%= f.number_field :gente %>
  </div>
  <div class="field">
    <%= f.label :idioma %><br>
    <%= f.text_field :idioma %>
  </div>
  <div class="field">
    <%= f.label :is_risky %><br>
    <%= f.check_box :is_risky %>
  </div>
  <div class="field">
    <%= f.label :is_internet %><br>
    <%= f.check_box :is_internet %>
  </div>
  <div class="field">
    <%= f.label :is_reservation %><br>
    <%= f.check_box :is_reservation %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :advice %><br>
    <%= f.text_area :advice %>
  </div>


        <div class="row">
          <div class="col-md-4">
            <div class="form-group">              
              <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
                  <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>    
          </div>
        </div>

        <div id="photos"><%= render 'photos/list' %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

 <div id="panel">
    <!--<input id="city_country" type="textbox" value="Berlin, Germany">-->
    <input type="button" value="Locate Me" id="bucks">
  </div>
  <div id="mapCanvas"></div>
  <div id="infoPanel">
    <b>Marker status:</b>
    <div id="markerStatus"><i>Click and drag the marker.</i></div>
  </div>


<script type="text/javascript"> 

var map, infoWindow;
var geocoder;
$("#bucks").click(function initMap() {
  geocoder = new google.maps.Geocoder();
  map = new google.maps.Map(document.getElementById('mapCanvas'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  infoWindow = new google.maps.InfoWindow;
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };

        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            draggable: true,
            title: 'Your position'
        });
        /*infoWindow.setPosition(pos);
        infoWindow.setContent('Your position');
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
        infoWindow.open(map, marker);*/
        map.setCenter(pos);
        
        
      updateMarkerPosition(marker.getPosition());
      updateMarkerPosition2(marker.getPosition());
      geocodePosition(pos);

      // Add dragging event listeners.
      google.maps.event.addListener(marker, 'dragstart', function() {
        updateMarkerAddress('Dragging...');
      });

      google.maps.event.addListener(marker, 'drag', function() {
        updateMarkerStatus('Dragging...');
        updateMarkerPosition(marker.getPosition());
        updateMarkerPosition2(marker.getPosition());
      });

      google.maps.event.addListener(marker, 'dragend', function() {
        updateMarkerStatus('Drag ended');
        geocodePosition(marker.getPosition());
        map.panTo(marker.getPosition());
      });

      google.maps.event.addListener(map, 'click', function(e) {
        updateMarkerPosition(e.latLng);
        updateMarkerPosition2(e.latLng);
        geocodePosition(marker.getPosition());
        marker.setPosition(e.latLng);
        map.panTo(marker.getPosition());
      });
        
    }, function() {
       handleLocationError(true, infoWindow, map.getCenter());
    });
} else {
  // Browser doesn't support Geolocation
  handleLocationError(false, infoWindow, map.getCenter());
}

})


function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      updateMarkerAddress(responses[0].formatted_address);
    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerStatus(str) {
  document.getElementById('markerStatus').innerHTML = str;
}

function updateMarkerPosition(latLng) {
  document.getElementById('info1').value = [
    latLng.lat()
  ];
}

function updateMarkerPosition2(latLng) {
  document.getElementById('info2').value = [
    latLng.lng()
  ];
}

function updateMarkerAddress(str) {
  document.getElementById('address').value = str;
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}

</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap"
        async defer></script>
