<div class="col-sm-4">
				<div id="card" class="weater">
					<%= link_to @experience do %>
					<div class="city-selected">
						<article>

							<div class="info">
								<div class="city"><span>PAÍS:</span> <%= @experience.pais %></div>
								<div class="night"><%= @experience.ciudad%></div>

								<div class="temp"><%= @experience.created_at.strftime(" %b %d") %></div>
<br><br>
								<div class="wind">
									<span><%= @experience.title.truncate(42) %></span>
								</div>
							</div>
						</article>
						
						
						<figure>
							<%= image_tag @experience.photos[0].image.url if @experience.photos.length > 0 %>
						</figure>
		
					</div>
					<% end %>
					
					<div class="days">
						<div class="row row-no-gutter">
							
							<div class="col-xs-2 col-xs-offset-1">
								<div class="day">
									<h1><%= @experience.vista %><br> <i class="material-icons md-48">remove_red_eye</i></h1>
								</div>
							</div>

							<div class="col-xs-2">
								<div class="day">
									<h1><%= @experience.olfato %><br> <i class="material-icons md-48">local_florist</i></h1>
								</div>
							</div>

							<div class="col-xs-2">
								<div class="day">
									<h1><%= @experience.oido %><br> <i class="material-icons md-48">hearing</i></h1>
								</div>
							</div>

							<div class="col-xs-2">
								<div class="day">
									<h1><%= @experience.gusto %><br> <i class="material-icons md-48">local_pizza</i></h1>
								</div>
							</div>

							<div class="col-xs-2">
								<div class="day">
									<h1><%= @experience.tacto %><br> <i class="material-icons md-48">pan_tool</i></h1>
								</div>
							</div>
							

						</div>
					</div>
				</div>
			</div>