<br><br><div id="show_trip">
<h1 class=" upper"><%=@trip.name %></h1>
<h5 class="">by: <%= link_to "#{@trip.nomad.name}", nomad_path(@trip.nomad) %></h5>

<br>
<div id="iconoss">
  <% unless @trip.nomad.facebook.blank? %>
  <a href="<%= @trip.nomad.facebook %>" class="subscribe_link">Facebook</a>
  <% end %>
  <% unless @trip.nomad.twitter.blank? %>
  <a href="<%= @trip.nomad.twitter %>" class="subscribe_link">Twitter</a>
  <% end %>
  <% unless @trip.nomad.instagram.blank? %>
  <a href="<%= @trip.nomad.instagram %>" class="subscribe_link">Instagram</a>
  <% end %>
</div>


<hr>
<div class="container">
  <p class="center"><%= @trip.description %></p>
</div>
</div>

<hr>



<div id="show_new">
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="izquiero">
        <div class="col-md-7 col-md-offset-1">


          <div id="izq">
            <h4><%= @experience.title %></h4>
            <h6><%= @experience.ciudad %> - <%= @experience.pais %></h6>
            <p><%= @experience.address%></p>

            <br><br>

          <div id="sentidos">
            <div class="row">
              <ul>
              <% if @experience.vista? %>
                <li>
                  <div class="day">
                    <i class="material-icons md-48">remove_red_eye</i>
                  </div>
                </li>
              <% end %>
                <!--  -->
                <% if @experience.olfato? %>
                <li>
                  <div class="day">
                    <i class="material-icons md-48">local_florist</i>
                  </div>
                </li>
              <% end %>
                <!--  -->
                <% if @experience.oido? %>
                <li>
                  <div class="day">
                    <i class="material-icons md-48">hearing</i>
                  </div>
                </li>
              <% end %>
                <!--  -->
                <% if @experience.gusto? %>
                <li>
                  <div class="day">
                    <i class="material-icons md-48">local_pizza</i>
                  </div>
                </li>
              <% end %>
                <!--  -->
                <% if @experience.tacto? %>
                <li>
                  <div class="day">
                    <i class="material-icons md-48">pan_tool</i>
                  </div>
                </li>
              <% end %>

              </ul>
            </div>
          </div>

            <!-- Carousel -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

              <% if @photos %>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
                <% end %> 
              </ol>       
              <% end %>     

              <div class="carousel-inner" role="listbox">
                <% if @photos %>        
                <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos[0].id %>">          
                  <%= image_tag photo.image.url(:large) %>
                </div>
                <% end %> 
                <% end %>
              </div>

              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- End Carousel -->

            <br>
            <h5>DESCRIPTION:</h5>
            <p><%= @experience.description %></p>
            <br>
            <div id="icons">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <span class="material-icons md-24">mood</span><h6> Experience: <%= @experience.expe %></h6>
                  </div>

                  <div>
                    <span class="material-icons md-24">flag</span><h6> Language: <%= @experience.idioma %></h6>
                  </div>

                  <div>
                    <span class="material-icons md-24">monetization_on</span><h6> Currency: <%= @experience.currency %></h6>
                  </div>

                  <div>
                    <span class="material-icons md-24">local_atm</span><h6> How much money: <%= @experience.money %></h6>
                  </div>



                  <div>
                    <span class="material-icons md-24">timer</span><h6> Time experience lasts: <%= @experience.aprox_time %></h6>
                  </div>

                  <div>
                    <span class="material-icons md-24">face</span><h6> People warm: <%= @experience.gente %></h6>
                  </div>

                </div>

                <div class="col-sm-6">

                  <% if !@experience.is_risky? %> 
                  <div>
                    <span class="material-icons md-24">lock_outline</span><h6> Safe experience</h6>
                  </div>
                  <% end %>

                  <% if @experience.is_internet? %> 
                  <div>
                    <span class="material-icons md-24">web</span><h6>Internet Access</h6>
                  </div>
                  <% end %>

                  <% if @experience.is_reservation? %> 
                  <div>
                    <span class="material-icons md-24">receipt</span><h6>Reservation Needed</h6>
                  </div>
                  <% end %>

                  <div>
                    <span class="material-icons md-24">dvr</span><h6> Website: <br> <%= @experience.website %></h6>
                  </div>

                </div>
              </div>
            </div>



            <br>
            <h5>Advice from <%= @trip.nomad.name %>:</h5>
            <p><%= @experience.advice %></p>

            <br>

            <div class="row">
              <%= render 'shared/share' %>          
            </div>






          </div>
        </div>

        <div id="derecho">
          <div class="col-md-3">
            <ul>
              <% @experiences.order("created_at asc").each_with_index do |experience, i| %>
              <%= link_to trip_experience_path(@trip, experience) do %>
              <li class="<%= 'active2' if current_page?(trip_experience_path(@trip, experience)) %>">
                <div class="numberCircle"><%= i+1 %></div>
                <h4><%= experience.title.truncate(35) %></h4>
                <h5><%= experience.created_at.strftime(" %b %d") %></h5>
                <h3><%= experience.pais %> - <%= experience.ciudad %></h3>            
              </li>
              <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>







  <!-- Google Map -->
  <div class="row">
    <div class="col-md-12">

      <div id="map"></div>

      <style>
        #map {
          margin-top: 4rem;
          width: 100%;
          height: 400px;
        }
      </style>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap"
      async defer></script>

      <script>

function initMap() {

    // Creating a new map
    var map = new google.maps.Map(document.getElementById("map"), {


          center: new google.maps.LatLng(<%=@experience.latitude %>, <%=@experience.longitude %>),


          scrollwheel: false,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });


    // Creating the JSON data
    var json = [
        
        <% @experiences.order("created_at asc").each do |experience| %>
        {
            "title": "<%= experience.title %>",
            "lat": <%= experience.latitude %>,
            "lng": <%= experience.longitude%>,
            "description": '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="firstHeading upper"><%=experience.title %></h3>'+
            '<div id="bodyContent">'+
            '<p><%=experience.ciudad %> - <%=experience.pais %> </p>'+
            '<p>by: - <%=experience.trip.nomad.name %> </p>'+
            '<%= link_to 'Ver más', trip_experience_path(@trip, experience), class: "button button_blue" %> '+
            '</div>'+
            '</div>'
        },
        <% end %>
        
    ]

    // Creating a global infoWindow object that will be reused by all markers
    var infoWindow = new google.maps.InfoWindow({
      maxWidth: 200
    });

    // Looping through the JSON data
    for (var i = 0, length = json.length; i < length; i++) {
      var data = json[i],
        latLng = new google.maps.LatLng(data.lat, data.lng);

      // Creating a marker and putting it on the map
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: data.title
      });

      // Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
      (function(marker, data) {

        // Attaching a click event to the current marker
        google.maps.event.addListener(marker, "click", function(e) {
          infoWindow.setContent(data.description);
          infoWindow.open(map, marker);
        });


      })(marker, data);

}

}


      </script>


    </div>
  </div>

  <!-- Reviews -->
  <div class="container">
    <div class="col-md-12">
      <h3>Reviews: <%= @experience.average_rating %> (<%= @reviews.count %>)</h3>
      <div class="container">
        <div>
          <%= render 'review/review' %>
        </div>
        <div>
          <%= render 'review/list' %>
        </div>
      </div>
    </div>
  </div>





<br><br>
<div class="container">
  <div class="row">

    <% if current_nomad == @experience.nomad %>

    <%= link_to 'Edit', edit_trip_experience_path(@trip, @experience) %> |
    <%= link_to 'Back', :back %> |
    <%= link_to 'Destroy', trip_experience_path(@trip, @experience), method: :delete, data: { confirm: '¿Estás seguro?' } %>


    <% end %>

  </div>
</div>

<br><br>