<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Vista:</strong>
  <%= @experience.vista %>
</p>

<p>
  <strong>Olfato:</strong>
  <%= @experience.olfato %>
</p>

<p>
  <strong>Gusto:</strong>
  <%= @experience.gusto %>
</p>

<p>
  <strong>Oido:</strong>
  <%= @experience.oido %>
</p>

<p>
  <strong>Gusto:</strong>
  <%= @experience.gusto %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @experience.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @experience.longitude %>
</p>

<p>
  <strong>Expe:</strong>
  <%= @experience.expe %>
</p>

<p>
  <strong>Money:</strong>
  <%= @experience.money %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @experience.currency %>
</p>

<p>
  <strong>Aprox time:</strong>
  <%= @experience.aprox_time %>
</p>

<p>
  <strong>Gente:</strong>
  <%= @experience.gente %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @experience.idioma %>
</p>

<p>
  <strong>Is risky:</strong>
  <%= @experience.is_risky %>
</p>

<p>
  <strong>Is internet:</strong>
  <%= @experience.is_internet %>
</p>

<p>
  <strong>Is reservation:</strong>
  <%= @experience.is_reservation %>
</p>

<p>
  <strong>Website:</strong>
  <%= @experience.website %>
</p>

<p>
  <strong>Advice:</strong>
  <%= @experience.advice %>
</p>

<p>
  <strong>Nomad:</strong>
  <%= @experience.nomad %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
