<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/8e56b09395.js"></script>
  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3469913472404547",
    enable_page_level_ads: true
  });
</script>

</head>
<body>



<%= render 'shared/navbar' %>
<%= render 'shared/messages' %>


<div class="content">
<%= yield %>
</div>




<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- display_trips -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3469913472404547"
     data-ad-slot="4062208910"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>


